body {
    width: 100vw;
    height: 100vh;
    
    box-sizing: border-box;
    background-color: #BFBEB3;
    overflow: hidden;
}

.left {
    z-index: 0;
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 2rem;
    height: 58rem;
    background-color: #4993bb;
    border-radius: 50%;
}
.mid {
    z-index: 10;
    position: absolute;
    top: 1rem;
    left: 2rem;
    width: 62rem;
    height: 58rem;
    background-color: #4993bb;


}
.right {
    z-index: 0;
    position: absolute;
    top: 1rem;
    left: 63rem;
    width: 2rem;
    height: 58rem;
    background-color: #4993bb;
    border-radius: 50%;
}

.bottom {
    z-index: 20;
    position: absolute;
    top: 29rem;
    left: 1rem;
    width: 64rem;
    bottom: 0;
    background-color: #4993bb;
    border-top: black solid 1px;
}


.bezel {
    z-index: 20;
    position: absolute;
    top: 2rem;
    left: 3rem;
    width: 60rem;
    height: auto;
    box-sizing: border-box;
    padding: 0.5rem;
    background-color: #4993bb;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 0.5rem #000000;
}

.crt {
    text-transform: uppercase;
    font-family: 'CenturionTerm81', Fallback, monospace;
    background-color: #191d1c;
    color: #a8c1d7;
    width: 32rem;
    height: 24rem;
    display: flex;
    padding: 1rem;
    box-shadow: inset 0 0 0.5rem #000000;
    border-radius: 1rem;
    position: relative;
    flex-shrink: 0;
}

#logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 1rem #000000;
    border-radius: 1rem;
    margin-left: 0.5rem;
}

#logo>img {
    height: 4rem;
}

#mux {
    width: 50%;
    height: 100%;
    overflow-y: hidden;
}

#log {
    width: 100%;
    height: 5rem;
    overflow-y: hidden;
}

#log>div {
    height: 1rem;
    line-height: 1rem;
}

#mux {
    display: flex;
    align-items: flex-start;
}

#mux::after {
    content: "█";
    display: inline;
    animation: blink 300ms steps(1) infinite;
    font-size: 0.75rem;
}

@keyframes blink {
    50% {
        color: transparent;
        text-shadow: none;
    }
}


#status {
    width: 50%;
    height: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

#flags {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 1rem;
}

#registers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 1rem;
}

@font-face {
    font-family: 'CenturionTerm81';
    src: url('CenturionTerm81.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@keyframes textShadow {
    0% {
        text-shadow: 0.4389924193300864px 0 1px rgba(0, 0, 0, 0.5);
    }

    5% {
        text-shadow: 2.7928974010788217px 0 1px rgba(0, 0, 0, 0.5);
    }

    10% {
        text-shadow: 0.02956275843481219px 0 1px rgba(0, 0, 0, 0.5);
    }

    15% {
        text-shadow: 0.40218538552878136px 0 1px rgba(0, 0, 0, 0.5);
    }

    20% {
        text-shadow: 3.4794037899852017px 0 1px rgba(0, 0, 0, 0.5);
    }

    25% {
        text-shadow: 1.6125630401149584px 0 1px rgba(0, 0, 0, 0.5);
    }

    30% {
        text-shadow: 0.7015590085143956px 0 1px rgba(0, 0, 0, 0.5);
    }

    35% {
        text-shadow: 3.896914047650351px 0 1px rgba(0, 0, 0, 0.5);
    }

    40% {
        text-shadow: 3.870905614848819px 0 1px rgba(0, 0, 0, 0.5);
    }

    45% {
        text-shadow: 2.231056963361899px 0 1px rgba(0, 0, 0, 0.5);
    }

    50% {
        text-shadow: 0.08084290417898504px 0 1px rgba(0, 0, 0, 0.5);
    }

    55% {
        text-shadow: 2.3758461067427543px 0 1px rgba(0, 0, 0, 0.5);
    }

    60% {
        text-shadow: 2.202193051050636px 0 1px rgba(0, 0, 0, 0.5);
    }

    65% {
        text-shadow: 2.8638780614874975px 0 1px rgba(0, 0, 0, 0.5);
    }

    70% {
        text-shadow: 0.48874025155497314px 0 1px rgba(0, 0, 0, 0.5);
    }

    75% {
        text-shadow: 1.8948491305757957px 0 1px rgba(0, 0, 0, 0.5);
    }

    80% {
        text-shadow: 0.0833037308038857px 0 1px rgba(0, 0, 0, 0.5);
    }

    85% {
        text-shadow: 0.09769827255241735px 0 1px rgba(0, 0, 0, 0.5);
    }

    90% {
        text-shadow: 3.443339761481782px 0 1px rgba(0, 0, 0, 0.5);
    }

    95% {
        text-shadow: 2.1841838852799786px 0 1px rgba(0, 0, 0, 0.5);
    }

    100% {
        text-shadow: 2.6208764473832513px 0 1px rgba(0, 0, 0, 0.5);
    }
}

.crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
    border-radius: inherit;
}

.crt {
    animation: textShadow 30s infinite;
}